https://github.com/wazo-platform/xivo-bus/archive/master.zip
https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip  # from wazo-auth-client
alembic==1.0.0
cheroot==6.5.4
flask-cors==3.0.7
flask-httpauth==3.2.4
flask-restful==0.3.7
flask==1.0.2
importlib_metadata==1.6.0  # from kombu
itsdangerous==0.24  # from flask
jinja2==2.10
jsonpatch==1.21
kombu==4.6.11
markupsafe==1.1.0  # from flask
marshmallow==3.10.0
netifaces==0.10.4
psycopg2==2.7.7
python-consul==0.7.1
python-ldap==3.1.0
pyyaml==3.13
requests-oauthlib
requests==2.21.0
sqlalchemy==1.2.18
stevedore==1.29.0
tenacity==4.12.0
unidecode==1.0.23
websocket-client==0.53.0
werkzeug==0.16.0
