docker
docker-compose
mock
nose
pyhamcrest
python-ldap
kombu

# for database tests
-e ..
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/xivo-auth-client/archive/master.zip
https://github.com/wazo-pbx/xivo-confd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip
alembic==0.8.8
jinja2==2.10
psycopg2-binary
stevedore==1.17.1
unidecode==0.04.19
marshmallow==2.15.3
