docker
docker-compose
mock
nose
pyhamcrest
python-ldap
kombu

# for database tests
-e ..
unidecode==0.04.16
psycopg2
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/xivo-auth-client/archive/master.zip
https://github.com/wazo-pbx/xivo-confd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip
alembic==0.6.5
stevedore==0.14.1
jinja2==2.7.3
