kombu
openapi-spec-validator
pyhamcrest
pytest
python-ldap

# for database tests
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-confd-client/archive/master.zip
https://github.com/wazo-platform/wazo-test-helpers/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/xivo-bus/archive/master.zip
sqlalchemy<2.0
jinja2==2.11.3
psycopg2-binary
stevedore
unidecode
marshmallow
python-consul==1.1.0
