docker
docker-compose
kombu
mock
nose
openapi-spec-validator
pyhamcrest
python-ldap

# for database tests
-e ..
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-confd-client/archive/master.zip
https://github.com/wazo-platform/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/xivo-test-helpers/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
sqlalchemy==1.2.18
jinja2==2.10
psycopg2-binary
stevedore==1.29.0
unidecode==1.0.23
marshmallow==3.0.0b14
