Source: wazo-auth
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: wazo-auth
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         adduser,
         alembic (>= 0.8.8),
         consul,
         mail-transport-agent,
         python-alembic (>= 0.8.8),
         python-cheroot,
         python-consul,
         python-flask,
         python-flask-cors (>= 3.0.2),
         python-flask-restful,
         python-jinja2,
         python-kombu,
         python-ldap,
         python-marshmallow,
         python-psycopg2,
         python-stevedore,
         python-unidecode,
         python-websocket,
         wazo-uuid,
         xivo-bus (>> 17.16),
         xivo-confd-client (>> 15.16),
         xivo-dbms (>= 17.15~20171114.180840.c64079f),
         xivo-lib-python,
         xivo-libdao (>= 17.02~20170124.144633.cb56771)
Conflicts: xivo-auth
Replaces: xivo-auth
Provides: xivo-auth
Description: Wazo PBX's authentication service
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
