Source: wazo-auth
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.11

Package: wazo-auth
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         adduser,
         alembic,
         postfix | mail-transport-agent,
         python3-alembic,
         python3-cheroot,
         python3-consul,
         python3-flask,
         python3-flask-cors,
         python3-flask-restful,
         python3-jinja2,
         python3-jsonpatch,
         python3-kombu,
         python3-ldap,
         python3-marshmallow,
         python3-netifaces,
         python3-psycopg2,
         python3-pysaml2,
         python3-requests,
         python3-requests-oauthlib,
         python3-sqlalchemy,
         python3-stevedore,
         python3-tenacity,
         python3-unidecode,
         python3-websocket,
         wazo-dbms,
         wazo-uuid,
         wazo-bus-python3,
         xivo-lib-python-python3,
         wazo-auth-client-python3,
         xivo-libdao-python3,
         xmlsec1
Description: Wazo PBX's authentication service
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
