Source: xivo-auth
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-auth
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         adduser,
         alembic,
         xivo-dbms (>= 17.02~20170124.142659.8a51536),
         xivo-lib-python,
         xivo-libdao (>= 17.02~20170124.144633.cb56771),
         python-flask,
         python-flask-restful,
         python-stevedore,
         python-consul,
         python-cherrypy3,
         python-flask-cors,
         python-celery,
         python-unidecode,
         python-threadpool,
         python-ldap,
         python-psycopg2,
         python-marshmallow
Description: Wazo PBX's authentication service
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
