#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=wazo-auth
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --noscripts

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start wazo-auth-worker@.service
	dh_installsystemd wazo-auth.service
