[Unit]
Description=wazo-auth server
After=network.target postgresql.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o wazo-auth -g wazo-auth /var/run/wazo-auth
ExecStart=/usr/bin/wazo-auth
PIDFile=/var/run/wazo-auth/wazo-auth.pid

[Install]
WantedBy=multi-user.target
