#!/bin/bash

set -e

. /usr/share/debconf/confmodule

db_input medium wazo-auth/bootstrap-skip || true
db_input medium wazo-auth/db-skip || true
db_go || true

db_get wazo-auth/db-skip
db_skip=$RET
if [ "$db_skip" = "false" ] ; then
    db_input medium wazo-auth/db-host || true
    db_input medium wazo-auth/db-port || true
    db_input medium wazo-auth/db-admin-username || true
    db_input medium wazo-auth/db-admin-password || true
    db_input medium wazo-auth/db-app-name || true
    db_input medium wazo-auth/db-app-username || true
    db_input medium wazo-auth/db-app-password || true
    db_input medium wazo-auth/db-confd-name || true
    db_input medium wazo-auth/db-confd-username || true
    db_input medium wazo-auth/db-confd-password || true
    db_go || true
fi

db_stop
