[Unit]
Description=wazo-auth server
After=network.target postgresql.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-auth
ExecStartPost=/usr/bin/wazo-auth-wait
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
