Bonjour {{ firstName }} {{ lastName }},

Il semble que vous ayez perdu votre mot de passe.
Nous allons vous assister pour vous donner de nouveau accès à votre compte Wazo.
Si vous n'avez pas demandé de renouveler votre mot de passe, veuillez ne pas tenir compte de ce courriel.
Pour renouveler votre mot de passe, veuillez cliquer sur le lien ci-dessous :

https://songbird.wazo.io/reset-password?host={{ hostname }}:{{ port }}&token={{ token }}&user_uuid={{ user_uuid }}

L'équipe Wazo vous souhaite une très bonne journée
