<!DOCTYPE html>
<html lang="en">

<head>
	<title>POST ACS handling</title>
</head>

<body>

	<h1>Wazo SAML Post ACS handling</h1>

	<h2>Token</h2>
	<p id="token">not yet known</p>
	<h2>Refresh Token</h2>
	<p id="refresh">not yet known</p>
	<h2>Expires :</h2>
	<p id="expires">not yet known</p>

	<button onclick="logout()">Logout</button>


	<script type="text/javascript">
		let saml_session_id = localStorage.getItem("wazo-saml-session-id");
		fetch("https://stack.wazo.local/api/auth/0.1/token", {
			method: "POST",
			body: JSON.stringify({
				'saml_session_id': saml_session_id,
				'client_id': 'saml_tests',
				'access_type': 'offline',
			}),
			headers: {
				"Content-type": "application/json"
			}
		})
			.then((response) => response.json())
			.then((json) => {
				console.log(json)
				localStorage.setItem('token', json.data.token);
				document.getElementById('token').innerHTML = json.data.token.substring(0, 5) + "...";
				document.getElementById('refresh').innerHTML = json.data.refresh_token;
				document.getElementById('expires').innerHTML = json.data.expires_at;
			})
			.catch((error) => {
				console.error('Failed: ', error);
				document.getElementById('token').innerHTML = 'Failed with error: ' + error;
				document.getElementById('refresh').innerHTML = 'Failed';
				document.getElementById('expires').innerHTML = 'Failed';
			});

		function logout() {
			fetch(
				"https://stack.wazo.local/api/auth/0.1/saml/logout", {
				method: 'GET',
				redirect: 'follow',
				headers: { 'X-Auth-Token': localStorage.getItem('token') },
			}
			).then(
				response => response.json()
			).then(
				data => {
					console.log(data);
					window.location.href = data.location;
					localStorage.removeItem('token');
					localStorage.removeItem('wazo-saml-session-id');
				}
			).catch((error) => console.error('Error:', error));
		};
	</script>

</body>

</html>
