You've registered a new account on wazo-auth for {{ username }}

Click on the following link to confirm this email address:

https://{{ hostname }}:{{ port }}/0.1/emails/{{ email_uuid }}/confirm?token={{ token }}

