Hello {{ username }},

It seems you forgot your Wazo password.
We are going to assist you to get back to business.
If you do not ask to reset your password, please ignore that email.
To reset your password, just click on the link bellow:

https://songbird.wazo.io/?host={{ hostname }}:{{ port }}&token={{ token }}&user_uuid={{ user_uuid }}#reset-password

Wazo team which you a great day
