You're password has been reset for {{ username }}

Use the following command to reset you password. Make sure you replace <PASSWORD> with your desired password.

curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'X-Auth-Token: {{ token }}' -d '{"password": "<PASSWORD>"}' 'https://{{ hostname }}:{{ port }}/0.1/users/password/reset?user_uuid={{ user_uuid }}'
