Hello {{ username }},

It seems you forgot your Wazo password.
We are going to assist you getting back to business.
If you did not ask to reset your password, please ignore this email.

To reset your password, click on the following link:

https://app.wazo.io/?host={{ hostname }}{% if port %}:{{ port }}{% endif %}&token={{ token }}&user_uuid={{ user_uuid }}#reset-password

The Wazo team wishes you a great day.
